
@mixin buttonStyle($width: 40px, $height: 40px, $bg-color: transparent) {
    width: $width;
    height: $height;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;
    border: none;
    cursor: pointer;

    &:hover{
        filter: brightness(0.7);
    }
}

@mixin iconStyle($color-filter){
    width: 40px;
    height: 40px;
    filter: $color-filter;
}

@mixin controlsStyle($bg-color: #FFF, $shadow-color: rgba(0, 0, 0, 0.1), $width: 80px){
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    background-color: $bg-color;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px $shadow-color;
    width: $width;
}

.map {
    width: 100%; 
    height: 100vh; 
    overflow: hidden; 
    position: relative;

    &__controls{
        @include controlsStyle();

        > *:not(:last-child){
            margin-bottom: 10px;
        }
    }

    &__aiControls{
        width: 60px;
        bottom: 30px;
        right: 10px;
    }

    .controls__button{
        @include buttonStyle();

        .button__img{
            @include iconStyle(brightness(0) saturate(100%) invert(11%) sepia(44%) saturate(1886%) hue-rotate(204deg) brightness(99%) contrast(92%));
        }
    }

    &__chat{
        position: absolute;
        right: 10px;
        bottom: 100px;
        z-index: 1000;
    }
}